<app-headercomponent></app-headercomponent>
<app-imagecomponent></app-imagecomponent>
<h1 style="text-align: center">Say hello to {{name}}</h1>
<input [(ngModel)]="value" type="text"><br>
{{value}}
<br>
<button (click)="onClick()">Click change name</button>
<br>
<br>
<div>
    Number 1 : <input [(ngModel)]="var1" type="number"><br>
    Number 2 : <input [(ngModel)]="var2" type="number"><br>
    Sum: {{sum}} <button (click)="handleCalculateSum()">Calculate sum</button><br>
</div>
<app-data-info></app-data-info>