.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50px;
}

.form-login {
    position: absolute;
    float: right;
}

.login-zone {
    flex-direction: column;
}
